<div class="app-container">
  <div class="design-container">
    <div class="menu">
      <div class="section" (click)="toggleSection('dataSource')">
        <div class="section-header">
          <i class="fa fa-database" aria-hidden="true"></i>
          <span>Data Source</span>
        </div>
        <div *ngIf="activeSections.dataSource" class="sub-section">
          <div class="option-grid">
            <div
              class="option"
              draggable="true"
              data-type="CSV"
              (dragstart)="onDragStart($event, false)"
              >
              <i class="fa fa-file-csv"></i>
              <span>CSV</span>
            </div>

            <div
              class="option"
              draggable="true"
              data-type="Network"
              (dragstart)="onDragStart($event, false)"
              >
              <i class="fa fa-network-wired"></i>
              <span>Network</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Data Processing Section -->
      <div class="section" (click)="toggleSection('dataProcessing')">
        <div class="section-header">
          <i class="fa fa-cogs" aria-hidden="true"></i>
          <span>Data Processing</span>
        </div>
        <div *ngIf="activeSections.dataProcessing" class="sub-section">
          <div class="option-grid">
            <!-- Standard Scaler-->
            <div class="option" draggable="true" data-type="StandardScaler" (dragstart)="onDragStart($event, false)">
              <i class="fa fa-sliders-h"></i>
              <span>Standard Scaler</span>
            </div>
            <!-- MinMax Scaler -->
            <div class="option" draggable="true" data-type="MinMaxScaler" (dragstart)="onDragStart($event, false)">
              <i class="fa fa-random"></i>
              <span>MinMax Scaler</span>
            </div>
            <!-- One-Hot Enoding -->
            <div class="option" draggable="true" data-type="OneHotEncoding" (dragstart)="onDragStart($event, false)">
              <i class="fa fa-random"></i>
              <span>One-Hot Encoding</span>
            </div>
            <!-- PCA -->
            <div class="option" draggable="true" data-type="PCA" (dragstart)="onDragStart($event, false)">
              <i class="fa fa-cogs"></i>
              <span>PCA</span>
            </div>
            <!-- Normalizer -->
            <div class="option" draggable="true" data-type="Normalizer" (dragstart)="onDragStart($event, false)">
              <i class="fa fa-adjust"></i>
              <span>Normalizer</span>
            </div>
            <!-- KNN Imputer -->
            <div class="option" draggable="true" data-type="KNNImputer" (dragstart)="onDragStart($event, false)">
              <i class="fa fa-users"></i>
              <span>KNN Imputer</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Data Model Section -->
      <div class="section" (click)="toggleSection('dataModel')">
        <div class="section-header">
          <i class="fa fa-project-diagram" aria-hidden="true"></i>
          <span>Data Model</span>
        </div>
        <div *ngIf="activeSections.dataModel" class="sub-section">
          <div class="option-grid">
            <!-- CNN -->
            <div class="option" draggable="true" data-type="CNN" (dragstart)="onDragStart($event, false)">
              <i class="fa fa-brain"></i>
              <span>CNN</span>
            </div>
            <!-- RNN -->
            <div class="option" draggable="true" data-type="RNN" (dragstart)="onDragStart($event, false)">
              <i class="fa fa-sync-alt"></i>
              <span>RNN</span>
            </div>
            <!-- KNN -->
            <div class="option" draggable="true" data-type="KNN" (dragstart)="onDragStart($event, false)">
              <i class="fa fa-users"></i>
              <span>KNN</span>
            </div>
            <!-- Random Forest -->
            <div class="option" draggable="true" data-type="RandomForest" (dragstart)="onDragStart($event, false)">
              <i class="fa fa-tree"></i>
              <span>Random Forest</span>
            </div>
            <!-- Logistic Regression -->
            <div class="option" draggable="true" data-type="LogisticRegression" (dragstart)="onDragStart($event, false)">
              <i class="fa fa-chart-line"></i>
              <span>Logistic Regression</span>
            </div>
            <!-- SVM -->
            <div class="option" draggable="true" data-type="SVM" (dragstart)="onDragStart($event, false)">
              <i class="fa fa-vector-square"></i>
              <span>SVM</span>
            </div>
            <!-- Gradient Boosting -->
            <div class="option" draggable="true" data-type="GradientBoosting" (dragstart)="onDragStart($event, false)">
              <i class="fa fa-fire"></i>
              <span>Gradient Boosting</span>
            </div>
            <!-- Decision Tree -->
            <div class="option" draggable="true" data-type="DecisionTree" (dragstart)="onDragStart($event, false)">
              <i class="fa fa-tree"></i>
              <span>Decision Tree</span>
            </div>
          </div>
        </div>
      </div>

      <div class="controls">
        <button class="zoom-button zoom-in" (click)="zoomIn()">
          <i class="fa fa-search-plus"></i>
        </button>
        <button class="zoom-button zoom-out" (click)="zoomOut()">
          <i class="fa fa-search-minus"></i>
        </button>
        <button class="save-button save-scenario" (click)="saveScenario()">
          💾 
        </button>
        <button class="save-button load-scenario" (click)="triggerFileInput()">
          📂
        </button>
      
        <input type="file" id="fileInput" style="display: none;" (change)="loadScenario($event)" accept=".json">
      </div>
      
    </div>
  </div>

  <div class="workspace" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMoveSelection($event)" (mouseup)="onMouseUp($event)">
    <div id="drop-area" 
        class="drop-area" 
        (dragover)="onDragOver($event)" 
        (drop)="onDrop($event)">
      <div id="content-container" class="content-container">
      </div>
    </div>
    <div id="selection-box" *ngIf="isSelecting"></div>
  </div>
  <div #configContainer class="config-container">
    <button class="close-btn" (click)="closeConfig()">X</button>
    <div class="config-content">
    </div>
  </div> 
</div>