html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden;
  overflow-y: hidden !important;
}

.options-container {
  display: inline-block;
  position: fixed; 
  top: 110px;
  left: 220px;  
  z-index: 10; 
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%; 
  overflow: hidden; 
}

.table-container {
  position: absolute;
  width: 60%;
  height: 90%;
  max-height: 80vh; 
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.scenario-table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  flex-grow: 1;
  font-size: 18px;
}

.scenario-table tbody {
  display: block;
  width: 100%;
  max-height: 70vh;
  overflow-y: auto;
}

.scenario-table thead, .scenario-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.scenario-table th, .scenario-table td {
  padding: 12px;
  text-align: left;
  color: rgba(98, 96, 96); 
}

.scenario-table th {
  background-color: #0097a6;
  color: white;
  padding: 12px;
  text-align: left;
}

.scenario-table th:nth-child(1),
.scenario-table td:nth-child(1) {
  width: 20%; 
}

.scenario-table th:nth-child(2),
.scenario-table td:nth-child(2) {
  width: 20%; 
}

.scenario-table th:nth-child(3),
.scenario-table td:nth-child(3) {
  width: 15%; 
}

.scenario-table th:nth-child(4),
.scenario-table td:nth-child(4) {
  width: 15%; 
}

.scenario-table th:nth-child(5),
.scenario-table td:nth-child(5) {
  width: 35%; 
}

.action-buttons {
  display: flex;
  gap: 4px; 
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.action-buttons button {
  padding: 2px 4px;
  font-size: 18px;
  white-space: nowrap;
  flex: 1 1 auto;
  min-width: 40px;
  max-width: 100%;
  text-align: center;
  margin: 0 !important;
}

.default-button {
  background-color: #2676798f;
  color: white;
  font-size: 16px;
  padding: 6px 8px !important;
  min-width: 40px !important;
  margin: 2px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: auto !important;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.2s;
}

.default-button i {
  font-size: 14px; 
  margin: 0; 
}

.default-button:hover {
  background-color: #0097a6;
}

.finished {
  color: #1b8e36 !important;
  font-weight: bold;
}

.error {
  color: #a92424 !important;
  font-weight: bold;
}

.empty-row {
  text-align: center;
  font-style: italic;
  color: #ccc;
  height: 50px;
}

.new-button, .import-button {
  background-color: #f4f4f4;
  color: rgba(98, 96, 96);  
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-button:hover, .import-button:hover {
  background-color: #e0e0e0;
}

.new-button i, .import-button i {
  font-size: 16px;
}

.tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #343a40;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  transition: opacity 0.3s;
}

.new-button:hover .tooltip-text, .import-button:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.scenario-table tbody tr:not(:last-child) td {
  border-bottom: 1px solid #0097a6;
  padding-bottom: 8px; 
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-thumb {
  background-color: #2676798f;
  border-radius: 10px; 
}

::-webkit-scrollbar-track {
  background-color: rgba(245, 246, 250, 0.4); 
}
