<div class="options-container" *ngIf="isRootSubRoute()">
  <button class="new-button new-scenario" (click)="newScenario()">
    <i class="fas fa-plus"></i>
    <span class="tooltip-text">Click to design a new scenario</span>
  </button>
  <button class="import-button load-scenario" (click)="triggerFileInput()">
    📂
    <span class="tooltip-text">Click to import an existing scenario. Please select the JSON and data files</span>
  </button>

  <input type="file" id="fileInput" style="display: none;" (change)="loadScenario($event)" accept=".json, .csv" multiple>
</div>

<div class="content">
  <div class="table-container" *ngIf="isRootSubRoute()">
    <table class="scenario-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Status</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let scenario of scenarios">
          <td>{{ scenario.uuid }}</td>
          <td>{{ scenario.name }}</td>
          <td [class.finished]="scenario.status === 'Finished'">{{ scenario.status }}</td>
          <td>{{ scenario.date | date:'dd/MM/yyyy HH:mm:ss' }}</td>
          <td>
            <div class="action-buttons">
              <button class="default-button edit-button" (click)="editScenario(scenario.uuid)">Edit</button>
              <button class="default-button" (click)="downloadScenario(scenario)">
                <i class="fas fa-download"></i>
              </button>
              <button class="default-button" (click)="runScenario(scenario.status, scenario.uuid)">
                <i class="fas fa-play"></i>
              </button>
              
              <button class="default-button" *ngIf="scenario.status === 'Finished'" (click)="viewFeatures(scenario.uuid)">Features</button>
              <button class="default-button" *ngIf="scenario.status === 'Finished'" (click)="viewTimelineAD(scenario.uuid)">Timeline AD</button>
              <button class="default-button" *ngIf="scenario.status === 'Finished'" (click)="viewMetrics(scenario.uuid)">Metrics</button>
              <button class="default-button delete-button" (click)="deleteScenario(scenario.uuid)">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr *ngIf="scenarios.length === 0">
          <td colspan="5" class="empty-row">No scenarios available</td>
        </tr>
      </tbody>
    </table>
  </div>
  <router-outlet></router-outlet>
</div>