version: '3.8'

services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: defender
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: rootpassword
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3308:3306"
  
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile-gpu
    command: ["./wait-for-it.sh", "db:3306", "--", "python", "manage.py", "runserver", "0.0.0.0:8000"]
    volumes:
      - ./backend:/app
      - ./frontend:/app/frontend  
      - ./ssh_keys:/root/.ssh
      - /tmp/pcap_shared:/app/pcap_shared
    ports:
      - "8000:8000"
    environment:
      MYSQL_DATABASE: defender
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: rootpassword
      HOST_OS: ${HOST_OS}
      EXECUTION_MODE: ${EXECUTION_MODE}
    depends_on:
      - db
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
  
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/app

volumes:
  db_data:
