html, body {
    background: linear-gradient(to bottom, #b0c4de, #889fb3, #67748b);
    min-height: 100vh; 
    margin: 0; 
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    overflow: hidden; 
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px; 
}

.login-modal .modal-content {
    background: linear-gradient(to bottom, #b0c4de, #889fb3, #67748b); 
    backdrop-filter: blur(15px); 
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    color: #dfe6ff; 
}

.login-title {
    color: #381d5b; 
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.login-input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #3b215e; 
    color: #000000; 
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.login-input::placeholder {
    color: #5a4184; 
}

.error-message {
    color: #ec1c1c;
    font-size: 16px;
}

.login-btn {
    background: linear-gradient(to right, #57528b, #8481a9, #c6c5d5);
    border: none;
    border-radius: 25px;
    color: #3b215e;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    transition: background 0.3s ease;
}

.login-btn:hover {
    background: linear-gradient(to right, #c6c5d5, #8481a9, #57528b);
}

.login-options {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.login-link {
    font-size: 14px;
    color: #381d5b;
    text-decoration: none;
    cursor: pointer;
}

.login-link:hover {
    text-decoration: underline;
}

.password-toggle-btn {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #6c757d; 
}
  
.password-toggle-btn:focus {
    outline: none; 
}

.password-toggle-btn i {
    font-size: 1.2em;
}