<div class="container">
  <div class="top-bar">
    <div class="top-bar-left">
      <button class="back-btn" *ngIf="!isDashboard()" (click)="goBack()">← Back</button>
      <button *ngIf="saveButtonVisible" class="save-button" (click)="onSaveClick()">💾</button>
    </div>
    
    <div class="logout-container">
      <button class="logout-btn" (click)="logout()">
        <i class="fa fa-sign-out"></i>
      </button>
    </div>
  </div>

  <ng-container *ngIf="!isNewScenario()">
    <div class="sidebar">
      <div class="option" 
           (click)="navigateTo('anomaly-detector')" 
           [ngClass]="{'selected': isSelected('anomaly-detector')}">
        Anomaly Detector
      </div>
      <div class="option" 
           (click)="navigateTo('policies')" 
           [ngClass]="{'selected': isSelected('policies')}">
        Policies
      </div>
      <div class="option" 
           (click)="navigateTo('options')" 
           [ngClass]="{'selected': isSelected('options')}">
        Options
      </div>
      <div class="option" 
           (click)="navigateTo('user')" 
           [ngClass]="{'selected': isSelected('user')}">
        User
      </div>
    </div>
  </ng-container>

  <div class="content">
    <ng-container *ngIf="isDashboard()">
      <button class="default-button">Anomalies detected</button>
      <button class="default-button">Network / Data statistics</button>
      <button class="default-button">Tested actions / mitigations</button>
    </ng-container>
  
    <router-outlet *ngIf="!isDashboard()"></router-outlet>
  </div>
</div>
