html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden !important;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.top-bar {
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 60px;
}

.top-bar-left {
  flex: 1; 
}

.logout-container {
  display: flex;
  justify-content: flex-end;
  width: auto;
}

.logout-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.logout-btn:hover {
  background-color: #c82333;
}

.sidebar {
  width: 200px;
  background-color: #343a40;
  padding: 20px;
  color: rgb(0, 0, 0);
  height: calc(100vh - 60px); 
  position: fixed;
  top: 60px; 
  left: 0;
  z-index: 10;
  overflow-y: auto; 
}

.option {
  margin: 10px 0;
  cursor: pointer;
  padding: 15px 20px; 
  background-color: #495057; 
  border-radius: 4px;
  transition: background-color 0.2s;
  color: white; 
  width: 100%; 
  box-sizing: border-box; 
  text-align: center; 
  font-size: 16px;
}

.option:hover {
  background-color: #6c757d; 
  color: #ffffff; 
}

.content {
  margin-left: 200px; 
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  margin-top: 60px;
  height: calc(100vh - 60px); 
  box-sizing: border-box;
}

.default-button {
  width: 200px; 
  padding: 15px 20px;
  background-color: #495057;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  margin: 10px 0; 
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s;
  border: none; 
  box-shadow: none; 
}

.default-button:hover {
  background-color: #6c757d;
}

.back-btn {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.back-btn:hover {
  background-color: #5a6268;
}
