html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden !important;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.top-bar {
  width: 100%;
  background-color: #2470bc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 60px;
}

.top-bar-left {
  flex: 1; 
}

.logout-container {
  display: flex;
  justify-content: flex-end;
  width: auto;
}

.logout-btn {
  background-color: transparent;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.logout-btn:hover {
  border: #ffffff 1px solid;
}

.sidebar {
  width: 200px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border-right: rgba(0, 0, 0, 0.507) 0.1px solid;
  height: calc(100vh - 60px); 
  position: fixed;
  top: 60px; 
  left: 0;
  z-index: 10;
  padding: 0;
  overflow-y: auto; 
}

.option {
  cursor: pointer;
  padding: 25px 0; 
  background-color: transparent; 
  border-bottom: rgba(0, 0, 0, 0.507) 0.1px solid;
  transition: background-color 0.2s;
  color: rgba(98, 96, 96); 
  box-sizing: border-box;
  position: relative;
  transition: all 0.2s;
  width: 100%; /* Asegura que el ancho ocupe todo el sidebar */
  text-align: center; 
  font-size: 16px;
}

.option:hover {
  background-color: #f8f9fa; /* Color claro de fondo */
  color: #2470bc; /* Color del texto principal */
  transform: scale(1.02); /* Ligero zoom */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sutil sombra */
}

.option:focus {
  color: #2470bc; /* Cambia el color del texto cuando la opción está seleccionada */
  outline: none; /* Evita que aparezca el contorno por defecto en algunos navegadores */
}


.option.selected {
  color: #2470bc; /* Cambia el color del texto */
  font-weight: bold; /* (Opcional) Resalta el texto */
}

.content {
  margin-left: 200px; 
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  margin-top: 60px;
  height: calc(100vh - 60px); 
  box-sizing: border-box;
}

.default-button {
  width: 200px; 
  padding: 15px 20px;
  background-color: transparent;
  border-radius: 4px;
  color: rgba(98, 96, 96); 
  font-size: 16px;
  margin: 10px 0; 
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s;
  border: none; 
  box-shadow: none; 
}

.default-button:hover {
  background-color: #6c757d;
}

.back-btn {
  background-color: transparent;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.back-btn:hover {
  border: #ffffff 1px solid;
}
