/* Global styles */
html, body { 
  height: 100%; 
  margin: 0;
  padding: 0;
  background: #d4d5d5;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  color: #2d3436;
  background-attachment: fixed;
}