<div class="modal-dialog align-middle reset-password-modal" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title reset-password-title" id="exampleModalLabel"><b>Email to change password</b></h1>
    </div>
    <div class="modal-body"> 
      <form (keydown)="keyDownFunction($event)">
        <!-- Reset password -->
        <div class="form-group position-relative">
          <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="userPatchDTO.new_password" name="new_password" class="form-control reset-password-input" #new_password="ngModel" placeholder="New password" id="recipient-name" />
          <button type="button" (click)="togglePasswordVisibility()" class="password-toggle-btn">
            <i [ngClass]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
          </button>
          <ng-container *ngIf="new_passwordError; else new_passwordValid">
            <p class="error-message">
              <small>*Insert password</small>
            </p>
          </ng-container>        
          <ng-template #new_passwordValid>
            <p *ngIf="badNew_passwordError" class="error-message">
              <small>
                *Password format is incorrect. At least 8 characters long and include at least one uppercase letter, one lowercase letter, and one number.
              </small>
            </p>
          </ng-template>
        </div>
        <!-- Confirm reset password -->
        <div class="form-group position-relative">
          <input [type]="showConfirmPassword ? 'text' : 'password'" [(ngModel)]="userPatchDTO.confirm_new_password" name="confirm_new_password" class="form-control reset-password-input" #confirm_new_password="ngModel" placeholder="Confirm new password" id="recipient-name" />
          <button type="button" (click)="toggleConfirmPasswordVisibility()" class="password-toggle-btn">
            <i [ngClass]="showConfirmPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
          </button>
          <ng-container *ngIf="confirm_new_passwordError; else confirm_new_passwordValid">
            <p class="error-message">
              <small>*Insert password</small>
            </p>
          </ng-container>        
          <ng-template #confirm_new_passwordValid>
            <p *ngIf="badConfirm_new_passwordError" class="error-message">
              <small>
                *Password format is incorrect. At least 8 characters long and include at least one uppercase letter, one lowercase letter, and one number.
              </small>
            </p>
          </ng-template>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="resetPassword()" type="button" class="btn reset-password-btn btn-lg btn-block">Reset password</button>
    </div>
  </div>
</div>
