@media (max-width: 768px) {
  .chart-container, .matrix-container {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.metrics-container {
  height: 93vh;
  max-width: 1400px;
  margin: 0 auto;
  overflow-y: auto;
  padding: 20px 40px;
  background: white;
}

h2, h3, h4 {
  position: static;
  background: transparent;
  box-shadow: none;
  padding: 10px 0;
  margin: 0;
}

h2 {
  margin-bottom: 1.5rem;
}

h3 {
  margin: 1rem 0;
}

h4 {
  margin: 0.8rem 0;
}

.charts-wrapper {
  display: flex;
  flex-wrap: column;
  gap: 1rem;
  margin: 1rem 0 2rem;
  padding: 10px 0;
}

.classification-charts {
  display: flex;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
}

.regression-chart {
  width: 100%;
}

.chart-container, .matrix-container {
  flex: 1 1 48%;
  min-width: 350px;
  max-width: calc(50% - 0.5rem); 
  height: 400px;
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
}

.chart-container canvas, 
.matrix-container canvas {
  width: 100% !important;
  height: 100% !important;
}

.modal-content canvas {
  width: 100% !important;
  height: 80vh !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  position: relative;
  width: 80%;
  max-width: 1000px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.modal-content canvas {
  width: 100% !important;
  height: 600px !important;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-thumb {
  background-color: #00588fd0; 
  border-radius: 10px; 
}

::-webkit-scrollbar-track {
  background-color: rgba(245, 246, 250, 0.4);
}

.explanation-images {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 1.5rem;
}

.image-wrapper {
  text-align: center;
  max-width: 360px;
  width: 100%;
}

.image-wrapper img {
  width: 100%;
  max-height: 300px;
  border-radius: 6px;
  border: 1px solid #ccc;
  object-fit: contain;
  background-color: white;
}

.modal-content img {
  width: 100%;
  max-height: 80vh;
  object-fit: contain;
}
