html, body {
    height: 100vh;
    margin: 0; 
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #b0c4de, #889fb3, #67748b);
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px; 
    box-sizing: border-box;
    overflow-y: auto; 
}

.register-modal .modal-content {
    background: linear-gradient(to bottom, #b0c4de, #889fb3, #67748b);
    backdrop-filter: blur(15px); 
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    color: #dfe6ff; 
    max-width: 500px;
    width: 100%; 
    height: auto; 
}

.modal-body {
    max-height: 450px; 
    overflow-y: auto; 
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

.register-title {
    color: #381d5b; 
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.register-input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #3b215e; 
    color: #000000; 
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.register-input::placeholder {
    color: #5a4184; 
}

.error-message {
    color: #ec1c1c;
    font-size: 16px;
}

.register-btn {
    background: linear-gradient(to right, #57528b, #8481a9, #c6c5d5);
    border: none;
    border-radius: 25px;
    color: #3b215e;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    transition: background 0.3s ease;
}

.register-btn:hover {
    background: linear-gradient(to right, #c6c5d5, #8481a9, #57528b);
}

.register-options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.register-link {
    font-size: 14px;
    color: #381d5b;
    text-decoration: none;
    cursor: pointer;
}

.register-link:hover {
    text-decoration: underline;
}

.password-toggle-btn {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #6c757d; 
}
  
.password-toggle-btn:focus {
    outline: none; 
}

.password-toggle-btn i {
    font-size: 1.2em;
}