.information-table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    flex-grow: 1;
    font-size: 18px;
  }
  
  .information-table thead, .information-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  
  .information-table tbody {
    display: block;
    width: 100%;
    max-height: 70vh;
    overflow-y: auto;
  }
  
  .information-table th, .information-table td {
    padding: 12px;
    text-align: left;
    color: rgba(98, 96, 96);
  }
  
  .information-table th {
    background-color: #0097a6;
    color: white;
    padding: 12px;
    text-align: left;
  }
  
  .information-table tbody tr:not(:last-child) td {
    border-bottom: 1px solid #0097a6;
    padding-bottom: 8px;
  }

  ::-webkit-scrollbar {
    width: 8px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #2676798f;
    border-radius: 10px; 
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgba(245, 246, 250, 0.4); 
  }
  